<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Eelectric Vehicle</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        {% if user_info: %}
        <li class="nav-item">
          <a class="nav-link" href="/add">Add car</a>
        </li>

        <li class="nav-item" id="logout">
          <a class="nav-link me-auto" href="#">Logout</a>
        </li>
        {% else: %}
        <li class="nav-item">
          <a class="nav-link me-auto" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
