<!-- header part  -->
{% include "partials/header.html" %}
<div class="row">
  <div class="col">
    <div class="col">
      <div class="card">
        <div class="h2 pt-4 text-center">1st Electric Vehicle Information</div>
        <div class="card-body">
          <form id="single-form">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                value="{{vehicle1['name']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="manufacturer" class="form-label">Manufacturer:</label>
              <input
                type="text"
                class="form-control"
                id="manufacturer"
                name="manufacturer"
                value="{{vehicle1['manufacturer']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year:</label>
              <input
                type="number"
                class="form-control"
                id="year"
                name="year"
                value="{{vehicle1['year']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="batterySize" class="form-label"
                >Battery Size (Kwh):</label
              >
              <input
                type="number"
                class="form-control {% if vehicle1['batterySize'] >= vehicle2['batterySize'] %}text-success{% else %}text-danger{% endif %}"
                id="batterySize"
                name="batterySize"
                step="0.01"
                value="{{vehicle1['batterySize']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="wltpRange" class="form-label">WLTP Range (Km):</label>
              <input
                type="number"
                class="form-control {% if vehicle1['wltpRange'] >= vehicle2['wltpRange'] %}text-success{% else %}text-danger{% endif %}"
                id="wltpRange"
                value="{{vehicle1['wltpRange']}}"
                name="wltpRange"
                placeholder="300 km"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="cost" class="form-label">Cost:</label>
              <input
                type="number"
                class="form-control {% if vehicle1['cost'] <= vehicle2['cost'] %}text-success{% else %}text-danger{% endif %}"
                id="cost"
                name="cost"
                step="0.01"
                value="{{vehicle1['cost']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="power" class="form-label">Power (Kw):</label>
              <input
                type="number"
                class="form-control {% if vehicle1['power'] >= vehicle2['power'] %}text-success{% else %}text-danger{% endif %}"
                id="power"
                name="power"
                step="0.01"
                value="{{vehicle1['power']}}"
                required
                disabled
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col">
      <div class="card">
        <div class="h2 pt-4 text-center">2nd Electric Vehicle Information</div>
        <div class="card-body">
          <form id="single-form">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                value="{{vehicle2['name']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="manufacturer" class="form-label">Manufacturer:</label>
              <input
                type="text"
                class="form-control"
                id="manufacturer"
                name="manufacturer"
                value="{{vehicle2['manufacturer']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year:</label>
              <input
                type="number"
                class="form-control"
                id="year"
                name="year"
                value="{{vehicle2['year']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="batterySize" class="form-label"
                >Battery Size (Kwh):</label
              >
              <input
                type="number"
                class="form-control {% if vehicle2['batterySize'] >= vehicle1['batterySize'] %}text-success{% else %}text-danger{% endif %}"
                id="batterySize"
                name="batterySize"
                step="0.01"
                value="{{vehicle2['batterySize']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="wltpRange" class="form-label">WLTP Range (Km):</label>
              <input
                type="number"
                class="form-control {% if vehicle2['wltpRange'] >= vehicle1['wltpRange'] %}text-success{% else %}text-danger{% endif %}"
                id="wltpRange"
                value="{{vehicle2['wltpRange']}}"
                name="wltpRange"
                placeholder="300 km"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="cost" class="form-label">Cost:</label>
              <input
                type="number"
                class="form-control {% if vehicle2['cost'] <= vehicle1['cost'] %}text-success{% else %}text-danger{% endif %}"
                id="cost"
                name="cost"
                step="0.01"
                value="{{vehicle2['cost']}}"
                required
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="power" class="form-label">Power (Kw):</label>
              <input
                type="number"
                class="form-control {% if vehicle2['power'] >= vehicle1['power'] %}text-success{% else %}text-danger{% endif %}"
                id="power"
                name="power"
                step="0.01"
                value="{{vehicle2['power']}}"
                required
                disabled
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer part  -->
{% include "partials/footer.html" %}
