<!-- header part  -->
{% include "partials/header.html" %}

<!-- searching section  -->
{% include 'partials/search-bar.html' %}

<div
  class="electric-vehicle-wrapper d-flex gap-3 pt-5 flex-wrap justify-content-center"
>
  {% if all_vehicles: %} {% for vehicle in all_vehicles: %}
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ vehicle['fields']['name'] }}</h5>
      <ul>
        <li class="card-text">power: {{ vehicle['fields']['power'] }} kw</li>
        <li class="card-text">
          Battery Size: {{ vehicle['fields']['batterySize'] }} kWh
        </li>
        <li class="card-text">Price: ${{ vehicle['fields']['cost'] }}</li>
      </ul>
      <a
        href="/single/{{vehicle['id']}}"
        target="_blank"
        class="btn red-rose-btn"
        >Read More</a
      >
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
<!-- footer part  -->
{% include "partials/footer.html" %}
